@charset "UTF-8"

$ColorVKeyboardTrapEnabled: #c33 !default
$ColorVKeyboardTrapDisabled: #999 !default
$ColorVKeyboardTrapBackground: #eeee !default

$TextVKeyboardTrapSeparator: "/" !default
$TextVKeyboardTrapEnabled: "Trap" !default
$TextVKeyboardTrapEsc: "Esc" !default
$TextVKeyboardTrapEscRefocus: "Esc\2949" !default
$TextVKeyboardTrapEscExits: "Esc\2923" !default
$TextVKeyboardTrapTab: "Tab" !default
$TextVKeyboardTrapTabExits: "Tab\21C5" !default
$TextVKeyboardTrapGrid: "\229E" !default
$TextVKeyboardTrapArrowsAll: "\2962\2963\2965\2964" !default
$TextVKeyboardTrapArrowsHorizontal: "\2962\2964" !default
$TextVKeyboardTrapArrowsVertical: "\2963\2965" !default

// :root
//   --color-v-kbd-trap-enabled: #c33
//   --color-v-kbd-trap-disabled: #999
//   --color-v-kbd-trap-background: #eeee
//   --text-v-kbd-trap-separator: "/"
//   --text-v-kbd-trap-enabled: "Trap"
//   --text-v-kbd-trap-esc: "Esc"
//   --text-v-kbd-trap-esc-refocus: "Esc\2949"
//   --text-v-kbd-trap-esc-exits: "Esc\2923"
//   --text-v-kbd-trap-tab: "Tab"
//   --text-v-kbd-trap-tab-exits: "Tab\21C5"
//   --text-v-kbd-trap-grid: "\229E"
//   --text-v-kbd-trap-arrows-all: "\2962\2963\2965\2964"
//   --text-v-kbd-trap-arrows-horizontal: "\2962\2964"
//   --text-v-kbd-trap-arrows-vertical: "\2963\2965"

[data-v-kbd-trap]
  --v-kbd-trap: var(--text-v-kbd-trap-enabled, "#{$TextVKeyboardTrapEnabled}")
  --v-kbd-trap-esc: ""
  --v-kbd-trap-tab: ""
  --v-kbd-trap-roving: ""

  &:where(:has(:focus-visible))
    --v-kbd-trap: var(--text-v-kbd-trap-enabled, "#{$TextVKeyboardTrapEnabled}") var(--text-v-kbd-trap-separator, "#{$TextVKeyboardTrapSeparator}")
    --v-kbd-trap-esc: var(--text-v-kbd-trap-esc, "#{$TextVKeyboardTrapEsc}")

    &:after
      content: var(--v-kbd-trap, "") var(--v-kbd-trap-esc, "") var(--v-kbd-trap-tab, "") var(--v-kbd-trap-roving, "")
      pointer-events: none
      position: absolute
      top: 2px
      right: 2px
      font: italic small-caps bold 14px monospace
      line-height: 1em
      padding: 4px
      background-color: var(--color-v-kbd-trap-background, #{$ColorVKeyboardTrapBackground})
      border-radius: 2px
      z-index: 1

  &:where([tabindex="-9999"], dialog, [popover])
    outline: none

  &:after
    color: var(--color-v-kbd-trap-disabled, #{$ColorVKeyboardTrapDisabled})

  &:where([data-v-kbd-trap-active]):after
    color: var(--color-v-kbd-trap-enabled, #{$ColorVKeyboardTrapEnabled})

  &:where([data-v-kbd-trap-active])
    --v-kbd-trap: ""
    --v-kbd-trap-esc: var(--text-v-kbd-trap-esc, "#{$TextVKeyboardTrapEsc}")
    --v-kbd-trap-tab: var(--text-v-kbd-trap-separator, "#{$TextVKeyboardTrapSeparator}") var(--text-v-kbd-trap-tab, "#{$TextVKeyboardTrapTab}")
    --v-kbd-trap-roving: ""

    &:where([data-v-kbd-trap~=roving])
      --v-kbd-trap-tab: var(--text-v-kbd-trap-separator, "#{$TextVKeyboardTrapSeparator}") var(--text-v-kbd-trap-tab-exits, "#{$TextVKeyboardTrapTabExits}")
      --v-kbd-trap-roving: var(--text-v-kbd-trap-separator, "#{$TextVKeyboardTrapSeparator}") var(--text-v-kbd-trap-arrows-all, "#{$TextVKeyboardTrapArrowsAll}")

      &:where([data-v-kbd-trap~=tabinside])
        --v-kbd-trap-tab: var(--text-v-kbd-trap-separator, "#{$TextVKeyboardTrapSeparator}") var(--text-v-kbd-trap-tab, "#{$TextVKeyboardTrapTab}")

      &:where([data-v-kbd-trap~=vertical])
        --v-kbd-trap-roving: var(--text-v-kbd-trap-separator, "#{$TextVKeyboardTrapSeparator}") var(--text-v-kbd-trap-arrows-vertical, "#{$TextVKeyboardTrapArrowsVertical}")

      &:where([data-v-kbd-trap~=horizontal])
        --v-kbd-trap-roving: var(--text-v-kbd-trap-separator, "#{$TextVKeyboardTrapSeparator}") var(--text-v-kbd-trap-arrows-horizontal, "#{$TextVKeyboardTrapArrowsHorizontal}")

      &:where([data-v-kbd-trap~=grid], [role=grid])
        --v-kbd-trap-roving: var(--text-v-kbd-trap-separator, "#{$TextVKeyboardTrapSeparator}") var(--text-v-kbd-trap-grid, "#{$TextVKeyboardTrapGrid}")

      &:has(input:not([disabled]):not([type="button"]):not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"]):not([type="reset"]):not([type="submit"]):focus-visible, select:not([disabled]):focus-visible, select:not([disabled]) *:focus-visible, textarea:not([disabled]):focus-visible, [contenteditable]:not([contenteditable="false"]):focus-visible, [contenteditable]:not([contenteditable="false"]) *:focus-visible)
        --v-kbd-trap-tab: var(--text-v-kbd-trap-separator, "#{$TextVKeyboardTrapSeparator}") var(--text-v-kbd-trap-tab, "#{$TextVKeyboardTrapTab}")
        --v-kbd-trap-roving: ""

    &:where([data-v-kbd-trap~=escrefocus])
      --v-kbd-trap-esc: var(--text-v-kbd-trap-esc-refocus, "#{$TextVKeyboardTrapEscRefocus}")

    &:where([data-v-kbd-trap~=escexits])
      --v-kbd-trap-esc: var(--text-v-kbd-trap-esc-exits, "#{$TextVKeyboardTrapEscExits}")

  &:where([data-v-kbd-trap~=roving][data-v-kbd-trap~=horizontal]):has([data-v-kbd-trap-active][data-v-kbd-trap~=roving][data-v-kbd-trap~=vertical])
    --v-kbd-trap-roving: var(--text-v-kbd-trap-separator, "#{$TextVKeyboardTrapSeparator}") var(--text-v-kbd-trap-arrows-horizontal, "#{$TextVKeyboardTrapArrowsHorizontal}")
    &:after
      color: var(--color-v-kbd-trap-enabled, #{$ColorVKeyboardTrapEnabled})

  &:where([data-v-kbd-trap~=roving][data-v-kbd-trap~=vertical]):has([data-v-kbd-trap-active][data-v-kbd-trap~=roving][data-v-kbd-trap~=horizontal])
    --v-kbd-trap-roving: var(--text-v-kbd-trap-separator, "#{$TextVKeyboardTrapSeparator}") var(--text-v-kbd-trap-arrows-vertical, "#{$TextVKeyboardTrapArrowsVertical}")
    &:after
      color: var(--color-v-kbd-trap-enabled, #{$ColorVKeyboardTrapEnabled})
